<div class="scrollable">
  <p>
    This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph.
  </p>
  <p>
    This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph.
  </p>
</div>