<div id="travel-slideshow" class="slideshow hidden-when-selected show-after-unselected" style="position: absolute">
</div>

<div class="face-content">
  <h2 class="hidden-when-selected show-after-unselected with-bg over-canvas">
    Travel
  </h2>
  <div class="show-after-selected">
    <h2>Travel</h2>
    <p>
      I travel while I work. Here are some photos I've taken along the way.
    </p>
    <div class="thumbnails travel-thumbnails">
    </div>
    <div style="clear: both; height: 1px;"></div>
    <p class="center">(tap to close)</p>
  </div>
</div>
