<div class="face-content">
  <h1>
    Brian Shaler
  </h1>
  <p class="show-after-selected">
    Hi, I'm Brian.
  </p>
  <p>
    I make stuff move with code.
  </p>
  <p class="hidden-when-selected">
    <span class="show-unless-tapped">
      (tap here)
    </span>
    <span class="center show-if-tapped">
      &laquo; swipe to continue &raquo;
    </span>
  </p>
  <div class="show-after-selected">
    <p>
      I specialize in <a href="#">data visualization</a>, but often do more general interactive development work.
    </p>
    <p class="center">
      (tap to close)
    </p>
  </div>
</div>
