<div class="face-content">
  <h1 class="hidden-when-selected">
    about
  </h1>
  <div>
    <p>about 1</p>
    <p class="show-after-selected">
      This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph.
    </p>
    <p>about 2</p>
    <p class="show-after-selected">
      This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph. This is a long 'about' paragraph.
    </p>
  </div>
</div>
