<div id="work-slideshow" class="slideshow hidden-when-selected show-after-unselected" style="position: absolute">
</div>
<script>
</script>

<div class="face-content">
  <h2 class="hidden-when-selected show-after-unselected with-bg over-canvas">
    Work
  </h2>
  <div class="show-after-selected">
    <h1>Work</h1>
    <p>
      Here are some samples of my work.
    </p>
    <p>
      Tap on a thumbnail for a larger image and a summary of the project.
    </p>
    <div class="thumbnails work-thumbnails">
    </div>
    <div style="clear: both; height: 1px;"></div>
    <p class="center">(tap to close)</p>
  </div>
</div>


<!--
<div class="hidden-when-selected show-after-unselected" style="position: absolute">
  <canvas id="data-viz" class="cube-canvas"></canvas>
  <script>
  var dataViz = new DataViz();
  </script>
</div>
<div class="face-content over-canvas">
  <h3 class="hidden-when-selected">
    Data Visualization
  </h3>
</div>

-->