.btn-nav
  position: absolute
  z-index: 3
  top: 50%
  font-size: 4em
  a
    display: block
    margin-top: -1.3em
    padding: 0.8em 0.5em
    color: rgba(0, 0, 0, 0.5)
    transition: all 0.3s ease
  a:hover
    color: rgba(0, 0, 0, 0.9)

.btn-left
  left: 0px
  a
    padding-left: 0.1em
.btn-right
  right: 0px
  a
    padding-right: 0.1em
