@import 'nib'

*
  font-family: 'Montserrat', sans-serif

html, body
  margin 0
  padding 0
  overflow hidden

@import 'cube'
@import 'nav'
@import 'views/title'
@import 'views/about'

.face
  transition: all 1s ease

